<!-- summary.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>P.I.A</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="/static/common/css/reset.css">
    <link rel='stylesheet' type='text/css' href="/static/common/css/thema.css">
    <link rel='stylesheet' type='text/css' href="/static/trend/css/summary.css">

    <!-- <script src="static/home/js/summary.js"></script> -->
</head>
<body>
    {{ summary.country }}
    {{ summary.rank_1 }}
    {{ summary.rank_2 }}
    {{ summary.rank_3 }}

</body>
</html>