<!-- summary.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>P.I.A</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="/static/common/css/reset.css">
    <link rel='stylesheet' type='text/css' href="/static/common/css/thema.css">
    <link rel='stylesheet' type='text/css' href="/static/trend/css/summary.css">

    <!-- <script src="static/home/js/summary.js"></script> -->
</head>
<body>
    <h3>south korea trend</h3>
    <ul>
        <li><a target="_blank" href="https://www.google.com/search?q={{ summary.rank_1 }}&tbm=nws">
            <h4>1st. {{ summary.rank_1 }}</h4>
        </a></li>

        <li><a target="_blank" href="https://www.google.com/search?q={{ summary.rank_2 }}&tbm=nws">
            <h4>2nd. {{ summary.rank_2 }}</h4>
        </a></li>

        <li><a target="_blank" href="https://www.google.com/search?q={{ summary.rank_3 }}&tbm=nws">
            <h4>3rd. {{ summary.rank_3 }}</h4>
        </a></li>
    </ul>

</body>
</html>