accelerate==0.21.0
acme==1.21.0
aenum==3.1.15
aiofiles==23.2.1
aiohappyeyeballs==2.3.2
aiohttp==3.10.0
aiosignal==1.3.1
aiosmtplib==3.0.2
altair==5.3.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
apturl==0.5.2
async-timeout==4.0.3
attrs==23.2.0
bcrypt==3.2.0
blendmodes==2022
blinker==1.4
Brlapi==0.8.3
certbot==1.21.0
certbot-nginx==1.21.0
certifi==2020.6.20
chardet==4.0.0
clean-fid==0.1.35
click==8.0.3
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip
colorama==0.4.4
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
contourpy==1.2.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
defer==1.0.6
deprecation==2.1.0
diskcache==5.6.3
distro==1.7.0
distro-info==1.1+ubuntu0.2
duplicity==0.8.21
einops==0.4.1
exceptiongroup==1.2.2
facexlib==0.3.0
fastapi==0.94.0
fasteners==0.14.1
ffmpy==0.4.0
filelock==3.15.4
filterpy==1.4.5
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.0
future==0.18.2
gitdb==4.0.11
GitPython==3.1.32
gradio==3.41.2
gradio_client==0.5.0
h11==0.12.0
httpcore==0.15.0
httplib2==0.20.2
httpx==0.24.1
huggingface-hub==0.24.5
idna==3.3
imageio==2.34.2
importlib-metadata==4.6.4
importlib_resources==6.4.0
inflection==0.5.1
jeepney==0.7.1
Jinja2==3.1.4
josepy==1.10.0
jsonmerge==1.8.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==23.5.0
kiwisolver==1.4.5
kornia==0.6.7
language-selector==0.1
lark==1.1.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
lightning-utilities==0.11.6
llvmlite==0.43.0
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.9.1
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.5
netifaces==0.11.0
networkx==3.3
numba==0.60.0
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
omegaconf==2.2.3
open-clip-torch==2.20.0
opencv-python==4.10.0.84
orjson==3.10.6
packaging==24.1
pandas==2.2.2
paramiko==2.9.3
parsedatetime==2.6
pexpect==4.8.0
piexif==1.1.3
Pillow==9.5.0
pillow-avif-plugin==1.4.3
protobuf==3.20.0
psutil==5.9.5
ptyprocess==0.7.0
pycairo==1.20.1
pycups==2.0.1
pydantic==1.10.17
pydub==0.25.1
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-multipart==0.0.9
pytorch-lightning==1.9.4
pytz==2022.1
PyWavelets==1.6.0
pyxdg==0.27
PyYAML==5.4.1
referencing==0.35.1
regex==2024.7.24
reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
resize-right==0.0.2
rpds-py==0.19.1
safetensors==0.4.2
scikit-image==0.21.0
scipy==1.14.0
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
semantic-version==2.10.0
sentencepiece==0.2.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
spandrel==0.3.4
spandrel_extra_arches==0.1.1
ssh-import-id==5.11
starlette==0.26.1
sympy==1.13.1
systemd-python==234
terminator==2.1.1
tifffile==2024.7.24
timm==1.0.8
tokenizers==0.13.3
tomesd==0.1.3
toolz==0.12.1
torch==2.4.0
torchdiffeq==0.2.3
torchmetrics==1.4.0.post0
torchsde==0.2.6
torchvision==0.19.0
tqdm==4.66.4
trampoline==0.1.2
transformers==4.30.2
triton==3.0.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.30.3
wadllib==1.3.6
wcwidth==0.2.13
websockets==11.0.3
xdg==5
xformers==0.0.27.post2
xkit==0.0.0
yarl==1.9.4
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
