<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>P.I.A</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="static/common/css/reset.css">
    <link rel='stylesheet' type='text/css' href="https://pia.varzeny.com/static/common/css/thema.css">
    <link rel='stylesheet' type='text/css' href="https://pia.varzeny.com/static/home/css/home.css">

    <script src="https://pia.varzeny.com/static/home/js/home.js"></script>
</head>
<body>
    {% include "common/header_common.html" %}

    <main>
        <h2 style="display: none;">Home</h2>
        <section class="trend">
            <h3>Trend</h3>
            <ul>
                {% for t in trends %}
                <li class="country-li">
                    <h4>{{ t.country }}</h4>
                    <ol>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_1}}&tbm=nws">{{ t.rank_1 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_2}}&tbm=nws">{{ t.rank_2 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_3}}&tbm=nws">{{ t.rank_3 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_4}}&tbm=nws">{{ t.rank_4 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_5}}&tbm=nws">{{ t.rank_5 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_6}}&tbm=nws">{{ t.rank_6 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_7}}&tbm=nws">{{ t.rank_7 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_8}}&tbm=nws">{{ t.rank_8 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_9}}&tbm=nws">{{ t.rank_9 }}</a></li>
                        <li class="rank-li"><a target="_blank" href="https://www.google.com/search?q={{t.rank_10}}&tbm=nws">{{ t.rank_10 }}</a></li>

                    </ol>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="Community">
            <h3>Community</h3>

        </section>

        <section class="finance">
            <h3>Finance</h3>

        </section>
    </main>

    {% include "common/footer_common.html" %}
</body>
</html>