/* home.css */


main {
    
}

    section {
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
        box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);
        padding: 1rem;
        margin: 2rem;
    }

    .trend {
        width: 100%; height: 100%;
        font-size: medium;
        justify-content: center;
        align-items: center;
    }

    .country-li {
        display: inline-block;
        border: 1px solid orange;
        border-radius: 1rem;
        padding: 1rem;
        margin-right: 1rem;
    }:last-child{ margin-right: 0; }

        .rank-li {
            list-style-type: decimal;
            margin-left: 1rem;
        }